body
{
    background-color: rgb(202, 198, 198);
    color: rgb(64, 160, 250)
}
.h2
{
    color: rgb(234, 12, 12);
}
.h3
{
    color: rgb(31, 172, 31);
}
#after::after{
    color: rgb(250, 250, 19)
}